.menu {
	color: white !important ;
 }

header i.material-icons {
	color: white;
}
.Logotipo {
	display: block;
    margin-top:-205px; 
}
.firstnote {
 position:relative;
 bottom:160px;
 width:320px;
 left:40px;
}
/*card1 for product*/
.card1.mdl-card{
  width: 512px;
}
.card1 > .mdl-card__title {
  color: #fff;
  height: 363px;
  background: url('../images/flour-rice.jpg') center / cover;
}
.card1 > .mdl-card__menu {
  color: #fff;
}
/*card 2- product*/
.card2.mdl-card {
  width: 512px;
}
.card2 > .mdl-card__title {
  color: #fff;
  height: 334px;
  background: url('../images/flour-brown-rice.jpg') center / cover;
}
.card2 > .mdl-card__menu {
  color: #fff;
}

/*card-contact*/
.card-contactanos.mdl-card {
  width: 512px;
}
.card-contactanos > .mdl-card__title {
  color: #fff;
  height: 370px;
  background: url('../images/contactanos.png') center / cover;
}
.card-contactanos > .mdl-card__menu {
  color: #fff;